
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
    margin: 0px;
    font-family: Poppins;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
.help-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding: 21px 53px;
    max-width: 75px;
    color: #48924F;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F9F9F9 100%);
    box-shadow: 0px 10px 50px rgba(16, 51, 30, 0.5);
    border-radius: 35px;
    
}
.header {
    background-image: url(../images/grass-bg.webp);
    padding-bottom: 3%;
}
.header__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 25%;
    max-width: 50%;
    padding-top: 3%;
}
.header__title {
    display: block;
    font-weight: 900;
    font-size: 144px;
    line-height: 93%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
}
.header__contact {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 59px;
    font-style: normal;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: 2%;
    text-align: center;
    min-width: auto;
    max-width: 200px;
    padding: 19px 15px;
}
.content-section {

}
.content-section__title {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    font-weight: 800;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    color: #828282;
}
#green-curve1 {
    width: 95px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    position: relative;
    left: -100px;
    top: 10px;
}
#green-curve2 {
    width: 95px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    position: relative;
    right: -150px;    
    transform: rotate(-3.6deg);
}
.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.conatcts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.about-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.content-container__item {
    font-weight: 400;
    font-size: 14px;
}
.about-us__item {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
    margin: 30px;
}
.services__image {
    display: block;
}
.services__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0D4D14;
    margin: 10px;
    max-width: 385px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
    border-radius: 30px;
}
.services__title {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;

}
.services__text {
    margin: 30px;
}
.content-bg {
    background-image: url(../images/grass-bg-dark.webp);
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 10px;
}

.testimonial {
    border-radius: 40px;
    border: 1px solid #6CB981;
    padding: 30px;
    margin-bottom: 45px; 
    margin-left: 22px;
    margin-right: 22px;
    max-width: 557px;
    display: flex;
    font-weight: 400;
    font-size: 14px;
}
.estimonial__content {
    color: #0D4C14;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0px;
}
.testimonial__image {
    align-self: baseline;
    margin-right: 14px;

}
.testimonial__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #6CB981;
    margin: auto;
}
.testimonial__star_disabled {
    filter: grayscale(100%);
}
.conatcts__input {
    border: solid 3px #9FDEA9;
    border-radius: 61px;
}

@media screen and (max-width: 1000px) {
    .header__title {
        font-size: 120px;
    }
}
@media screen and (max-width: 800px) {
    .header__title {
        font-size: 100px;
    }
}
@media screen and (max-width: 650px) {
    .header__title {
        font-size: 80px;
    }
}
@media screen and (max-width: 450px) {
    .header__title {
        font-size: 50px;
    }
    .content-container__item_services {
        max-width: 280px;
    }
    .services__text {
        margin: 10px;
    }
    .services__image {
        width: 280px;
        height: auto;
    }
    .content-section__title {
        font-size: 48px;
    }
    #green-curve1 {
        width: 65px;
        margin-top: -90px;
        position: relative;
        left: -90px;
    }
    #green-curve2 {
        width: 65px;
        margin-top: -80px;
        right: -100px;    
    }
    .content-container__item_testimonial {
        padding: 10px;
        min-width: 200px;
        max-width: 350px;
    }
}
@media screen and (max-width: 350px) {
    .content-section__title {
        font-size: 42px;
    }
}